# Rust
/src-tauri/target
/target
/tools/updater-signature-verifier/target/

# Node
node_modules
dist

# 生成物
/src/ipc/bindings.ts
/src-tauri/gen/schemas
/src-tauri/windows-runtime/

# 系统
.DS_Store

# IDE
.idea
.vscode
